<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/png" href="../assets/paper_img/favicon.ico">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  
  <title>LoBusqueLoEncontre</title>

  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    
        <!-- Bootstrap core CSS     -->
    <link href="assets/dashboard/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="assets/dashboard/css/animate.min.css" rel="stylesheet"/>
    
    <!--  Light Bootstrap Table core CSS    -->
    <link href="assets/dashboard/css/light-bootstrap-dashboard.css" rel="stylesheet"/>
    
    
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="assets/dashboard/css/demo.css" rel="stylesheet" />
    
        
    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="assets/css/pe-icon-7-stroke.css" rel="stylesheet" />
    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
      
</head>
<body>
    
    <nav class="navbar navbar-default " role="navigation-demo" id="demo-navbar">
      <div class="container ">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header ">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a  href="/" class="simple-text"><img class="logo_busque" src="assets/dashboard/img/lobusque.jpg" alt="lobusque"></a>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navigation-example-2">
          <ul class="nav navbar-nav navbar-right">
                <a href="#" class="btn btn-simple">Quienes somos</a>
                <a href="login" class="btn btn-simple">Iniciar sesion</a>
                <a href="#" target="_blank" class="btn btn-simple"><i class="fa fa-twitter"></i></a>
                <a href="#" target="_blank" class="btn btn-simple"><i class="fa fa-facebook"></i></a>
           </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-->
    </nav>
    
    <div class="wrapper">
      <div class="container">
        <div class="main">           
          <% if (object) { %>
            <% object.forEach(function(obj) { %>
              <div class="col-md-3">
                <div class="card">
                  <div class="header">
                    <h4 class="title"><%= obj.brand %></h4>
                    <p class="category">Precio(¢):<%= obj.price %></p>
                  </div>
                  <div class="content"> 
                    <div class="image">
                      <img src='/fotos/<%= obj.idUser%>/<%=obj._id%>/frente.jpg' alt="..."/>   
                    </div>                               

                    <div class="footer">
                      <div class="stats">
                        <i class="fa fa-clock-o"></i> Año : <%= obj.year %> 
                        <% if (obj.priceNegotiable === "No") { %>
                          <span class="label label-warning"> <strong>Precio negociable: <%= obj.priceNegotiable %></strong></span>
                        <% } %>
                        <% if (obj.priceNegotiable === "Si") { %>
                          <span class="label label-primary">Precio negociable: <%= obj.priceNegotiable %></span>
                        <% } %>
                        
                      </div>                                    
                    </div>
                  </div>
                </div>
              </div>
            <% }); %>
         <%} else {%>
          <p class="alert alert-info">
            <span style="font-size:25px;">No hay vehículos para mostrar en este momento.</span>
          </p>
         <% } %>
      </div>

    </div>
    <div class="row-fluid">
      <div class="col-sm-6 col-sm-offset-3">
        <nav>
          <ul class="pagination">
            <% if(paginate.hasPreviousPages){ %>
            <li>
              <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <%}%>

            <% if(pages){ %>
              <% pages.forEach(function(page){ %>
                <li <% if(page.number==actualPage){%>class="active"<%}%>>
                  <a href="<%= page.url%>"><%= page.number %></a>
                </li>
              <%});%>
            <%}%>
            <% if(paginate.hasNextPages(pageCount)){%>
            <li>
              <a href="<%= paginate.href()%>" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
            <%}%>
          </ul>
        </nav>
      </div>
    </div>
      
   
    

 <!-- Favorites  car-->
<!--
        <div class="section landing-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h2 class="text-center">Escribanos?</h2>
                            <form class="contact-form">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Nombre</label>
                                        <input class="form-control" placeholder="Name">
                                    </div>
                                    <div class="col-md-6">
                                        <label>Correo</label>
                                        <input class="form-control" placeholder="Email">
                                    </div>
                                </div>
                                <label>Mensaje</label>
                                <textarea class="form-control" rows="4" placeholder="Escriba su duda o inquietud..."></textarea>
                                <div class="row">
                                    <br>
                                    <div class="col-md-4 col-md-offset-4">
                                        <button class="btn btn-danger btn-block btn-lg btn-fill">Enviar mensaje</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>     
    </div> -->

 
                
    
   

<!--    end modal -->


</body>
    <script src="assets/js/jquery-1.10.2.js" type="text/javascript"></script>
  <script src="assets/js/jquery-ui-1.10.4.custom.min.js" type="text/javascript"></script>

  <script src="bootstrap3/js/bootstrap.js" type="text/javascript"></script>
  
  <!--  Plugins -->
  <script src="assets/js/ct-paper-checkbox.js"></script>
  <script src="assets/js/ct-paper-radio.js"></script>
  <script src="assets/js/bootstrap-select.js"></script>
  <script src="assets/js/bootstrap-datepicker.js"></script>
  <script src="assets/js/jquery.bootpag.min.js"></script>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
      <script type="text/javascript" src="assets/js/responsiveCarousel.min.js"></script>
  <script src="assets/js/ct-paper.js"></script> 
    <script type="text/javascript">
  $(function(){
    $('.crsl-items').carousel({
      visible: 5,
      itemMinWidth: 180,
      itemEqualHeight: 370,
      itemMargin: 9,
    });
    
    $("a[href=#]").on('click', function(e) {
      e.preventDefault();
    });
      $(".car-2").hover(function() {
      $(this).attr("src","img/thumb04.jpg");
        }, function() {
      $(this).attr("src","img/thumb03.jpg");
    });
  });
  </script> 
</html>