<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Materias | We-Learning</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- jvectormap -->
    <link rel="stylesheet" href="plugins/jvectormap/jquery-jvectormap-1.2.2.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="dist/css/skins/_all-skins.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="plugins/iCheck/flat/blue.css">
    <!-- Morris chart -->
    <link rel="stylesheet" href="plugins/morris/morris.css">
    <!-- jvectormap -->
    <link rel="stylesheet" href="plugins/jvectormap/jquery-jvectormap-1.2.2.css">
    <!-- Date Picker -->
    <link rel="stylesheet" href="plugins/datepicker/datepicker3.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="plugins/daterangepicker/daterangepicker-bs3.css">
    <!-- bootstrap wysihtml5 - text editor -->
    <link rel="stylesheet" href="plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">


    <!-- iCheck -->
    <link rel="stylesheet" href="plugins/iCheck/square/blue.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="hold-transition skin-blue sidebar-mini register-page">
    <div class="wrapper">

      <header class="main-header">
        <!-- Logo -->
        <a href="/dashboard" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><img src="img/v-learning-no-letter.png" alt="We-Learning" /></span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><img src="img/v-learning100.png"  alt="We-Learning" /></span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">

              <!-- User Account: style can be found in dropdown.less -->
              <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-user"></i>
                  <span class="hidden-xs"><%= user.local.name %></span>
                </a>
                <ul class="dropdown-menu">
                  <!-- User image -->
                  <li class="user-header">
                    <% if (typeof user.facebook.photo === "undefined") { %>
                    <img src="/img/avatar.png" class="img-circle" alt="User Image">
                    <% } else { %>
                    <img src="<%= user.facebook.photo %>" class="img-circle" alt="User Image">
                    <% } %>
                    <p><%= user.local.name %></p>
                    <p>Rol: <%= user.local.role %></p>
                  </li>

                  <!-- Menu Footer-->
                  <li class="user-footer">
                    <div class="pull-left">
                      <a href="/profile" class="btn btn-default btn-flat">Perfil</a>
                    </div>
                    <div class="pull-right">
                      <a href="/logout" class="btn btn-default btn-flat">Cerrar Sesión</a>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel -->
          <div class="user-panel">
            <div class="pull-left image">
              <% if (typeof user.facebook.photo === "undefined") { %>
              <img src="/img/avatar.png" class="img-circle" alt="User Image">
              <% } else { %>
              <img src="<%= user.facebook.photo %>" class="img-circle" alt="User Image">
              <% } %>
            </div>
            <div class="pull-left info">
              <p>Hola, <%= user.local.name %></p>
              <p><%= user.local.role %></p>
            </div>
          </div>

          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">

            <li class="header">MENÚ PRINCIPAL</li>

            <!--Panel de Control-->
            <li class="treeview">
              <a href="/dashboard">
                <i class="fa fa-dashboard"></i> <span>Panel de Control</span>
              </a>
            </li>

            <% if (user.local.role === "Administrador") { %>
            <!--Registro-->
            <li class="treeview">
              <a href="#">
                <i class="ion ion-person-add"></i> <span>Registro</span>
              </a>
              <ul class="treeview-menu">
                <li><a href="/users"><i class="fa fa-angle-double-right"></i> Usuarios</a></li>
                <li><a href="/courses"><i class="fa fa-angle-double-right"></i> Cursos</a></li>
              </ul>
            </li>

            <!--Matriculas-->
            <li class="treeview">
              <a href="#">
                <i class="ion ion-bag"></i> <span>Matriculas</span>
              </a>
              <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-angle-double-right"></i> Matricular Estudiante</a></li>
                <li><a href="#"><i class="fa fa-angle-double-right"></i> Buscar Estudiante</a></li>
              </ul>
            </li>
            <% } %>

            <!--Pensum-->
            <li class="treeview">
              <a href="#">
                <i class="ion ion-compose"></i> <span>Pensum</span>
              </a>
              <ul class="treeview-menu">
                <% if (user.local.role === "Administrador") { %>
                <li><a href="/subjects"><i class="fa fa-angle-double-right"></i> Materia</a></li>
                <% } %>
                <li><a href="#"><i class="fa fa-angle-double-right"></i> Logro</a></li>
                <li><a href="#"><i class="fa fa-angle-double-right"></i> Actividad</a></li>
              </ul>
            </li>

            <!--Control-->
            <li class="treeview">
              <a href="#">
                <i class="ion ion-stats-bars"></i><span>Control</span>
              </a>
              <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-angle-double-right"></i> Asistencia</a></li>
                <li><a href="#"><i class="fa fa-angle-double-right"></i> Observador</a></li>
              </ul>
            </li>

            <!--Reportes-->
            <li class="treeview">
              <a href="#">
                <i class="ion ion-pie-graph"></i><span>Reportes</span>
              </a>
              <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-angle-double-right"></i> Notas</a></li>
              </ul>
            </li>

            <% if (user.local.role === "Administrador") { %>
            <!--Configuración-->
            <li class="treeview">
              <a href="#">
                <i class="ion ion-gear-b"></i><span>Configuración</span>
              </a>
              <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-angle-double-right"></i> Identidad Institucional</a></li>
              </ul>
            </li>
            <% } %>

          </ul>
        </section>
        <!-- /.sidebar -->
      </aside>


      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Administración de Materias
          </h1>
        </section>
        <!-- Main content -->
        <section class="content">
          <!-- Info boxes -->
          <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-5">
              <div class="contains">
                <span class="btn bg-green" id="add-subject"> <i class="fa fa-plus-circle fa-5x pull-left"></i> Agregar materia </span>
              </div><!-- /.info-box -->
            </div>
            <div class="col-md-3 col-sm-4 col-xs-5">
              <div class="contains">
                <span class="list-subjects btn btn-primary"><i class="fa fa-reorder fa-5x pull-left"></i> Listar materias </span>
              </div><!-- /.info-box -->
            </div><!-- /.col -->
          </div><!-- /.row -->

          <!-- Alertas -->
          <% if (message.length > 0) { %>
            <div class="alert alert-danger" style="margin-top: 10px;"><%= message %></div>
          <% } %>

          <div class="box-body">

            <!-- Tabla de materias -->
            <div class="table-subjects table-responsive">
              <table class="table no-margin">
                <thead>
                  <tr>
                    <th class="text-align">Código</th>
                    <th class="text-align">Docente</th>
                    <th class="text-align">Nombre</th>
                    <th class="text-align">Fecha de Inicio</th>
                    <th class="text-align">Estado</th>
                    <th class="text-align">Descripción</th>
                  </tr>
                </thead>
                <tbody>
                  <% if (objectSubject) { %>
                  <% objectSubject.forEach(function(objSubj) { %>
                  <tr class="<%= objSubj._id %>" style="text-align:center;">
                    <td><%= objSubj.code %></td>
                    <td><%= objSubj.codeTeacher %></td>
                    <td><%= objSubj.name %></td>
                    <td><%= objSubj.initDate %> </td>
                    <% if (objSubj.status === "Activo") { %>
                      <td><i class="fa fa-circle text-success"></i>  <%= objSubj.status %></td>
                    <% } else { %>
                      <td><i class="fa fa-circle text-danger"></i>  <%= objSubj.status %></td>
                    <% } %>
                    <td><%= objSubj.description %></td>
                    <td>
                      <button id="<%= objSubj._id %>" class="show-modify-form btn btn-warning btn-block ">Editar <i class="fa fa-pencil"></i></button>
                      <input type="hidden" value="<%= objSubj._id %>">
                    </td>
                    <td>
                      <button id="<%= objSubj._id %>" class="delete-subject btn btn-danger btn-block ">Eliminar <i class="fa fa-trash"></i></button>
                      <input type="hidden" value="<%= objSubj._id %>">
                    </td>
                  </tr>
                  <% }); %>
                  <% } else { %>
                  <tr style="text-align:center;">
                    <td>Para crear una materia, dé click en el boton <span class="fa fa-plus-circle"></span></td>
                  </tr>
                  <% } %>
                </tbody>
              </table>
            </div>


            <!-- Formulario agregar materia -->
            <form class="form-subject" enctype="multipart/form-data" action="createSubject" method="POST" >
              <div id="form-add-subject" class="col-md-12" style="display: none;" >
                <div>
                  <label for=""><h2>Ingrese la nueva materia</h2></label>
                </div>

                <section class="col-md-6 ">
                  <div class="form-group" id="code">
                    <label for="bio">Código:</label><br>
                    <input class="form-control" type="text" name="code" value="">
                  </div>

                  <div class="form-group" id="codeTeacher">
                    <label for="bio">Código docente:</label><br>
                    <select class="form-control" type="brand" name="codeTeacher">
                      <% if (objectUser) { %>
                        <% objectUser.forEach(function(objUsr) { %>
                          <% if (objUsr.local.role === "Docente") { %>
                            <option value="<%= objUsr.local.code %>"><%= objUsr.local.code %> - <%= objUsr.local.name %></option>
                          <% } %>
                        <% }); %>
                      <% } %>
                    </select>
                  </div>

                  <div class="form-group" id="name">
                    <label for="bio">Nombre:</label><br>
                    <input class="form-control" type="text" name="name" value="">
                  </div>
                </section>

                <section class="col-md-6">
                  <div class="form-group" id="initDate">
                    <label for="bio">Fecha de Inicio:</label><br>
                    <input class="form-control" type="date" name="initDate" value="">
                  </div>

                  <div class="form-group" id="status">
                    <label for="bio">Estado:</label><br>
                    <select class="form-control" type="brand" id="status_list" name="status"></select>
                  </div>

                  <div class="form-group" id="description">
                    <label for="bio">Descripción:</label><br>
                    <textarea class="form-control" name="description"></textarea>
                  </div>

                  <!--<div>
                    <label for="bio">Archivos adjuntos:</label><br>
                    <input class="form-date btn btn-success btn-block"  value="cargar archivo"></input>
                  </div>-->
                </section>

                <button type="submit" class="btn btn-primary btn-block btn-flat">Agregar</button>
                <!-- El botón cancelar se deja como input para que no haga efecto sobre el formulario -->
                <input type="button" class="list-subjects btn btn-danger btn-block btn-flat" value="Cancelar"></input>
              </div>
            </form>


            <!-- Formulario modificar materia -->
            <form id="frm-modify-subject" class="form-subject" method="POST">
              <div id="form-modify-subject" class="col-md-12" style="display: none;" >
                <div>
                  <label for=""><h2>Modificar materia</h2></label>
                </div>

                <section class="col-md-6 ">
                  <div class="form-group" id="code">
                    <label for="bio">Código:</label><br>
                    <input class="form-control" type="text" name="code" id="mod_code">
                  </div>

                  <div class="form-group" id="codeTeacher">
                    <label for="bio">Código docente:</label><br>
                    <select id="mod_codeTeacher" class="form-control" type="brand" name="codeTeacher">
                      <% if (objectUser) { %>
                        <% objectUser.forEach(function(objUsr) { %>
                          <% if (objUsr.local.role === "Docente") { %>
                            <option value="<%= objUsr.local.code %>"><%= objUsr.local.code %> - <%= objUsr.local.name %></option>
                          <% } %>
                        <% }); %>
                      <% } %>
                    </select>
                  </div>

                  <div class="form-group" id="name">
                    <label for="bio">Nombre:</label><br>
                    <input class="form-control" type="text" name="name" id="mod_name">
                  </div>
                </section>

                <section class="col-md-6">
                  <div class="form-group" id="initDate">
                    <label for="bio">Fecha de Inicio:</label><br>
                    <input class="form-control" type="date" name="initDate" id="mod_initDate">
                  </div>

                  <div class="form-group" id="status">
                    <label for="bio">Estado:</label><br>
                    <select id="status_list2" class="form-control" type="brand" name="status"></select>
                  </div>

                  <div class="form-group" id="description">
                    <label for="bio">Descripción:</label><br>
                    <textarea class="form-control" name="description" id="mod_description"></textarea>
                  </div>
                </section>

                <input id="button_update" type="submit" class="modify-subject btn btn-primary btn-block btn-flat" value="Actualizar"></input>
                <!-- El botón cancelar se deja como input para que no haga efecto sobre el formulario -->
                <input type="button" class="list-subjects btn btn-danger btn-block btn-flat" value="Cancelar"></input>
              </div>
            </form>
          </div>
        </section>
      </div>


    <!-- COPYRIGHT -->
    <footer class="main-footer">
      <strong>Copyright &copy; 2016 <a href="#">We-nnova</a>.</strong> Todos los derechos reservados.
      <div class="pull-right hidden-xs"><b>Versión</b> 1.0</div>
    </footer>

    </div><!-- ./wrapper -->
    <!--   Core JS Files   -->
    <script src="assets/dashboard/js/jquery-1.10.2.js" type="text/javascript"></script>
    <!--<script src="assets/dashboard/js/bootstrap.min.js" type="text/javascript"></script>-->
    <!--  Checkbox, Radio & Switch Plugins -->
    <script src="assets/dashboard/js/bootstrap-checkbox-radio-switch.js"></script>
    <!--  Charts Plugin -->
    <script src="assets/dashboard/js/chartist.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="assets/dashboard/js/bootstrap-notify.js"></script>
    <!--  Google Maps Plugin    -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
    <script src="assets/dashboard/js/light-bootstrap-dashboard.js"></script>
    <!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
    <script src="assets/dashboard/js/demo.js"></script>
    <!-- Script main-->
    <script src="js/mainSubjects.js" type="text/javascript" charset="utf-8" ></script>
    <script type="text/javascript" src="json/jquery.autocomplete.js"></script>


    <!-- jQuery 2.1.4 -->
    <script src="plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
      $.widget.bridge('uibutton', $.ui.button);
    </script>
    <!-- Bootstrap 3.3.5 -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <!-- Morris.js charts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="plugins/morris/morris.min.js"></script>
    <!-- Sparkline -->
    <script src="plugins/sparkline/jquery.sparkline.min.js"></script>
    <!-- jvectormap -->
    <script src="plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="plugins/knob/jquery.knob.js"></script>
    <!-- daterangepicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
    <script src="plugins/daterangepicker/daterangepicker.js"></script>
    <!-- datepicker -->
    <script src="plugins/datepicker/bootstrap-datepicker.js"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <!-- Slimscroll -->
    <script src="plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="plugins/fastclick/fastclick.min.js"></script>
    <!-- AdminLTE App -->
    <script src="dist/js/app.min.js"></script>
    <!-- AdminLTE dashboard demo -->
    <script src="dist/js/pages/dashboard.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="dist/js/demo.js"></script>



    <!-- iCheck -->
    <script src="plugins/iCheck/icheck.min.js"></script>
    <script>
      $(function () {
        $('input').iCheck({
          checkboxClass: 'icheckbox_square-blue',
          radioClass: 'iradio_square-blue',
          increaseArea: '20%' // optional
        });
      });
    </script>

  </body>
</html>